

<ion-content [fullscreen]="true">
  <div class="flex-center">
    <ion-card>
      <ion-card-header class="flex-center">
        <ion-card-title color="primary">PGPBL</ion-card-title>
        <ion-card-subtitle>Praktikum</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
     
        <ion-item>
          <ion-label position="floating">Nama</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Kontak</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-radio-group value="custom-checked">
            <ion-radio value="custom" aria-label="Custom checkbox">Mahasiswa</ion-radio>
            <ion-radio value="custom-checked" aria-label="Custom checkbox that is checked">Staff pengajar</ion-radio>
          </ion-radio-group>
        </ion-item>
        <ion-button color="dark" fill="clear" size="full">Sudah punya akun?&nbsp;<a href="login"  style="text-decoration: none">Masuk</a>
        </ion-button>
        <ion-button color="primary" size="full" (click)="register()">Register</ion-button>
  
  
      </ion-card-content>
    </ion-card>
  </div>
  </ion-content>
  